body {
    text-align: center;
    background-color: gray;
    color: magenta;
}

body h6 {
    padding: 1em;
    font-size: 4em;
}
body h1{
  font-size:4em;
}

body h3{
  font-size:2em;
}
button {
    font-size: 2em;
    border: .05em solid cyan;
    border-radius: .5em;
    background-color: white;
    color: black;
}

button:hover {
    border: .05em solid white;
    border-radius: .5em;
    background-color:purple ;
    color: white;
}
